# Ambiente virtual
venv/
.env

# Cache e arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Banco de dados local temporário (se houver)
*.sqlite3

# Configurações de IDE
.vscode/
.idea/

# Docker
docker-compose.override.yml

# Arquivos temporários do sistema
*.swp
.DS_Store
Thumbs.db
